---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="inner">
		{% include "partials/_header.html" %}
		<div class="wrap">
			{% include "partials/_sidebar.html" %}
			<div class="main js-scroll-bar">
				<div class="main__inner">
					<div class="svg-map js-svg-map" data-json="../json/svgmap.json">
						<div class="svg-map__inner map">Alternative content</div>
					</div>
					<div class="chart js-chart-wrap">
						<canvas class="js-chart"></canvas>
						<div class="chart-select js-chart-select dropdown">
							<button class="chart-select__trigger js-chart-select-trigger" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buenos Aires</button>
							<ul class="chart-select__list chart-select-list dropdown-menu" aria-labelledby="dropdownMenuButton"> 
								<!-- dropdown-menu-right -->
								<li class="chart-select__item">
									<a href="#" class="chart-select__link js-chart-select-link" data-json="../json/elementos-por-tipo-first.json">Buenos Aires</a>
								</li>
								<li class="chart-select__item">
									<a href="#" class="chart-select__link js-chart-select-link" data-json="../json/elementos-por-tipo-second.json">Item2</a>
								</li>
								<li class="chart-select__item">
									<a href="#" class="chart-select__link js-chart-select-link" data-json="../json/elementos-por-tipo-third.json">Item3</a>
								</li>
							</ul>
						</div>
					</div>
					
					{% include "partials/_geofencing.html" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}