---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="inner">
		{% include "partials/_header.html" %}
		<div class="wrap">
			{% include "partials/_sidebar.html" %}
			<div class="main js-scroll-bar">
				<!-- begin head -->
				{{ mixins.head({ 
          title: 'Mc Precios 2018',
          links: true,
          currentPage: 'fotos'
        }) }}
				<!-- end head -->
				{{ mixins.filters({ 
					title: 'Fotos de soportes',
					selects: [
						{
							label: 'Categoría',
							title: 'Todas'
						},
						{
							label: 'Ciudad',
							title: 'Buenos Aires'
						},
						{
							label: 'Dirección',
							title: 'Todas'
						}
					],
					checkboxes: [
							{
							text: 'Fotos',
							checked: true
						 },
						 {
							text:'Videos',
							checked: false
						 }
					]
				}) }}

				<section class="list-section">
					<h3 class="list-section__title">Buenos Aires</h3>
					{% for acc in [
						{
							title: 'Gran formato',
							counter: '4',
							sliderWrap: 'gran-formato'
						},
						{
							title: 'Formato medio',
							counter: '12',
							sliderWrap: 'formato-medio'
						},
						{
							title: 'Formato pequeño',
							counter: '7',
							sliderWrap: 'formato-pequeno'
						}
					] %}
						<div class="accordion js-accordion{% if loop.first %} is-open{% endif %}">
							<a href="#" class="accordion__trigger js-accordion-trigger">
								<span class="list-head">
									<span class="list-head__plus"></span>
									<span class="list-head__title">
										{{ acc.title }}
									</span>
									<span class="list-head__counter">
										({{ acc.counter }})
									</span>
								</span>
							</a>
							<div class="accordion__photos js-accordion-wrap">
								{% include "partials/_photo-gallery.html" %}
							</div>
						</div>
					{% endfor %}
				</section>

				<!-- end items -->
			</div>
		</div>
	</div>
	<div class="js-slides-wrapper" data-slider-wrapper="img-slider" style="display: none">
		{% for slide in [
			{
				img: 'img1.jpg',
				name: '916 Minnie Gardens Apt. 180',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '3557 Carleton Manors',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '391 Nitzsche Islands',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '047 Angela Branch',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '2354 Denesik Avenue Apt. 067',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '34 May Mount',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '447 Orion Parkways',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			},
			{
				img: 'img1.jpg',
				name: '15 Reichert Estate Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque recusandae modi qui sapiente esse placeat repudiandae nostrum, debitis',
				location: 'Buenos Aires',
				large: '',
				download: '',
				downloadAlbum: ''
			}
		] %}
			{{ mixins.imgSlide(slide) }}
		{% endfor %}
	</div>
	{% include "partials/_modals.html" %}
	{{ mixins.downloadBtn() }}
{% endblock %}