---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="inner">
		{% include "partials/_header.html" %}
		<div class="wrap">
			{% include "partials/_sidebar.html" %}
			<div class="main">
				<!-- begin head -->
				{{ mixins.head({ title: 'Fútbol 2018' }) }}
				<!-- end head -->
				<!-- begin megamenu -->
				<nav class="megamenu">
					<ul class="megamenu__list row">
						{% for item in [
							{
								name: 'Reportes',
								icon: 'reportes'
							},
							{
								name: 'Fotos',
								icon: 'fotos'
							},
							{
								name: 'Mapa',
								icon: 'mapa'
							},
							{
								name: 'Listado',
								icon: 'listado'
							}
						] %}
						<li class="megamenu__item col col-6">
							<!-- begin item -->
							<a href="{{ item.name | lower + '.html' }}" class="item">
								<span class="item__content">
									<span class="item__name">{{ item.name }}</span>
									<span class="item__icon"><img src="./img/{{ item.icon }}.svg" alt="{ item.icon }}"></span>
								</span>
							</a>
							<!-- end item -->
						</li>
						{% endfor %}
					</ul>
				</nav>
				{% include "partials/_photo-gallery.html" %}
				<div class="js-gallery-trigger" data-modal-control="map-slider">slider</div>
				<div class="js-slides-wrapper" data-slider-wrapper="map-slider" style="display: none">
					{% for slide in [
						{
							name: 'Street Furniture',
							format: 'Formatio medio',
							city: 'Rio de Janeiro, Brasil',
							street: '1652 Alexa Row',
							period: '10/20/2018 - 11/24/2018',
							img: 'img1.jpg'
						},
						{
							name: 'Street Furniture',
							format: 'Formatio medio',
							city: 'Rio de Janeiro, Brasil',
							street: '1652 Alexa Row',
							period: '10/20/2018 - 11/24/2018',
							img: 'photo_1.png'
						}
					] %}
						{{ mixins.mapSlide(slide) }}
					{% endfor %}
				</div>
				<div class="js-slides-wrapper" data-slider-wrapper="img-slider" style="display: none">
					{% for slide in [
						{
							img: 'img1.jpg',
							name: 'Mc Precios 2018 - 004',
							location: 'Buenos Aires',
							large: '',
							download: '',
							downloadAlbum: ''
						},
						{
							img: 'img1.jpg',
							name: '2',
							location: 'Buenos Aires',
							large: '',
							download: '',
							downloadAlbum: ''
						}
					] %}
						{{ mixins.imgSlide(slide) }}
					{% endfor %}
				</div>
				<!-- end items -->
			</div>
		</div>
	</div>
	{% include "partials/_modals.html" %}
{% endblock %}