<div class="geofencing" data-accordion-item data-accordion-on-init="768" data-accordion-open>
  <div class="geofencing__tabs" data-tabs>
    <div class="tabs">
      <div class="tabs__header">
        <div class="tabs__mobile-header" data-accordion-trigger>
          <div class="tabs__title-wrapper">
            <span class="tabs__title-icon">{{ mixins.icon('geofencing') }}</span>
            <span class="tabs__title">Geofencing</span>
          </div>
          <span class="mob-accordion-btn"></span>
        </div>
        <div class="tabs__controls js-scroll-bar" data-accordion-container>
          <ul class="tabs-list">
            {% for item in [
              {
                text: 'Resultados',
                tab: 'results'
              },
              {
                text: 'Locaciones',
                tab: 'locations'
              },
              {
                text: 'Screenshots',
                tab: 'screenshots'
              },
              {
                text: 'Videos',
                tab: 'videos'
              }
            ] %}
              <li class="tabs-list__item">
                <button class="tabs-list__btn" data-tabs-control='{{ item.tab }}'>{{ item.text }}</button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tabs__wrapper" data-tabs-wrapper data-accordion-container>
        <div class="tabs__content" data-tabs-container="results">
          RESULTS
        </div>
        <div class="tabs__content" data-tabs-container="locations">
          {% include "partials/geofencing/_locations.html" %}
        </div>
        <div class="tabs__content" data-tabs-container="screenshots">
          {% include "partials/geofencing/_screenshots.html" %}
        </div>
        <div class="tabs__content" data-tabs-container="videos">
            {% include "partials/geofencing/_video.html" %}
        </div>
      </div>
    </div>
  </div>