{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<div class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	<a href="#" class="breadcrumbs__prev">{{ icon('arrow') }}</a>
	<ul class="breadcrumbs__list">
	{% for i in range(1,props.length or 4) %}
		<li class="breadcrumbs__item{% if loop.first %} is-active{% endif %}">
			<a href="#">{{ i }}</a>
		</li>
	{% endfor %}
	</ul>
	<a href="#" class="breadcrumbs__next">{{ icon('arrow') }}</a>
</div>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__icon"></span>
</label>
<!-- end input -->
{% endmacro %}

{% macro select(props) %}
	<select class="js-select select{% if props.modifier %} select_{{ props.modifier }}{% endif %}{% if props.multiple %} show-tick{% endif %}"
		{% if not props.checkboxes %} data-live-search="true"{% endif %}
		{% if props.multiple %} multiple{% endif %}
		{% if props.selectWidth %} data-width="{{ props.selectWidth or '100%'}}"{% endif %}
		{% if props.title %} title="{{ props.title }}"{% endif %}
		{% if props.alignRight %} data-dropdown-align-right='true'{% endif %}
		data-live-search-placeholder='{{ props.searchText or "Buscar dirección" }}'
		
	>
		{% for option in props.values %}
			<option value="{{ option }}"{% if props.mapSelect %} data-content={{ loop.index }}{% endif %}>{{ option }}</option>
		{% endfor %}
	</select>
{% endmacro %}

{% macro mapSlide(props) %}
	<div class="map-slide js-slide">
		<div class="map-slide__wrapper">
			<div class="map-slide__info">
				<div class="map-slide__name">{{ props.name }}</div>
				<div class="map-slide__format">{{ props.format }}</div>
				<div class="map-slide__details">
					<div class="map-slide__city">{{ props.city }}</div>
					<div class="map-slide__street">{{ props.street }}</div>
					<div class="map-slide__period">{{ props.period }}</div>
				</div>
				<div class="map-slide__img">
					<img src="./img/{{ props.img }}" alt="">
				</div>
			</div>
			<div class="map-slide__map map js-map-modal" data-center-lat="50.451767" data-center-lng="30.521038" data-json="./json/search-map.json"></div>
		</div>
	</div>
{% endmacro %}

{% macro head(props) %}
	<div class="head">
		<h2 class="title">{{ props.title }}</h2>
		{% if props.links %}
			<nav class="head-links">
				<ul class="head-links__list">
					{% for link in [
						{
							name: 'Reportes',
							icon: 'reportes'
						},
						{
							name: 'Fotos',
							icon: 'fotos'
						},
						{
							name: 'Mapa',
							icon: 'mapa'
						},
						{
							name: 'Listado',
							icon: 'listado'
						}
					] %}
						<li class="head-links__item">
							<a
								href="{{ link.name | lower + '.html' }}"
								class="btn{% if props.currentPage === link.icon %} is-active{% endif %}"
							>
								<span class="btn__text">{{ link.name }}</span>
								<span class="btn__icon">
									<img src="./img/{{ link.icon }}.svg" alt="{{ link.icon }}">
								</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
	</div>
{% endmacro %}

{% macro mapCheckbox(props) %}
	<label class="toggler">
		<input class='js-map-category' type='checkbox' name="{{ props.category }}"{% if props.checked %} checked{% endif %} data-category='{{ props.category }}'>
		{% if not props.noIcon %}
			<span class="toggler__icon toggler__icon_{{ props.iconColor }}">{{ icon('marker') }}</span>
		{% endif %}
		{% if not props.noText %}
			<span class="toggler__text">{{ props.text }}</span>
		{% endif %}
		<span class="toggler__toggle"></span>
	</label>
{% endmacro %}

{% macro filters(props) %}
	<div class="filters-section-wrapper js-filters-wrapper">
		<div class="filters-mob-overlay js-filters-overlay"></div>
		<div class="filters-section js-filters{% if props.modifier %} filters-section_{{ props.modifier }}{% endif %}">
			<div class="filters-section__wrap">
				<h3 class="filters-section__title title-md">{{ props.title }}</h3>
				{% if props.search %}
					<div class="filters-section__search">
						<form class="search search_small">
							<div class="search__input">
								<input type="text" placeholder="Buscar soportes">
							</div>
							<button class="search__button" type="button">{{ icon('search') }}</button>
						</form>
					</div>
				{% endif %}
				<div class="filters-section__filters">
					<div class="filters">
						{% for item in props.selects %}
							<div class="filters__item">
								<div class="input-group">
									<label class="label label_small">{{ item.label }}</label>
									{{ select({ 
										title: item.title,
										modifier: 'blue',
										values: ['lorem', 2, 3, 'ipsum dolor', 5, 6, 7],
										selectWidth: 'fit',
										alignRight: item.align
									}) }}
								</div>
						</div>
						{% endfor %}
						{% if props.checkboxes %}
							<div class="filters__item">
								<label class="label label_small">Mostrar</label>
								{% for item in props.checkboxes %}
									{{ checkbox(item) }}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
				{% if props.mapControls %}
					<div class="filters-section__map-controls">
						<div class="map-controls">
							{% for control in props.mapControls %}
								{{ mapCheckbox(control) }}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
			{% if not props.noDownlodBtn %}
				<div class="filters-section__download">
					<a href="#" class="link-down-load" download>
						{{ icon('download-sm') }}
						<span class="link-down-load__text">Descargar álbum</span>
					</a>
				</div>
			{% endif %}
		</div>
		<div class="filters-fab js-filters-btn">
			<a href="#" class="fab">
				<span class="fab-burger">
					<span></span>
					<span></span>
					<span></span>
				</span>
				<span class="fab-cross">
					{{ icon('close') }}
				</span>
			</a>
		</div>
	</div>
{% endmacro %}

{% macro imgSlide(props) %}
	<div class="img-slide js-slide">
		<div class="img-slide__photo">
			<img src="./img/{{ props.img }}" alt="img">
		</div>
		<div class="img-slide__bottom">
			<div class="img-slide__left">
				<div class="img-slide__name">{{ props.name }}</div>
				<div class="img-slide__location">{{ props.location }}</div>
				<a href="{{ props.large or '#' }}" class="img-slide__link">Gran formato</a>
			</div>
			<div class="img-slide__right">
				<a href="{{ props.download or '#' }}" class="img-slide__link img-slide__ref">Descargar foto</a>
				<a href="{{ props.downloadAlbum or '#' }}" class="img-slide__link img-slide__ref">Descargar todo el álbum</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro table(props) %}
	<div class="list-table">
		<div class="list-table__tr list-table__tr_head">
			<div class="list-table__counter">#</div>
			<div class="list-table__soporte">
				<button class="list-sort-btn js-table-sort-btn" type='button'>
					<span>Soporte</span>
				</button>
			</div>
			<div class="list-table__direccion">Dirección</div>
			<div class="list-table__comienza">Comienza</div>
			<div class="list-table__finaliza">Finaliza</div>
			<div class="list-table__ots">OTS por día</div>
		</div>
		<div class="list-table__wrap">
			{% for tr in props %}
				<div class="list-table__tr js-gallery-trigger" data-modal-control="map-slider" data-wrapper="{{ tr.sliderWrap }}">
					<div class="list-table__counter">{{ tr.counter }}</div>
					<div class="list-table__soporte">{{ tr.soporte }}</div>
					<div class="list-table__direccion">{{ tr.direccion }}</div>
					<div class="list-table__comienza">{{ tr.comienza }}</div>
					<div class="list-table__finaliza">{{ tr.finaliza }}</div>
					<div class="list-table__ots">{{ tr.ots }}</div>
					<div class="list-table__eye">{{ icon('eye') }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endmacro %}

{% macro accordionSection(props) %}
	<section class="list-section" data-accordion-group>
		<h3 class="list-section__title">{{ props.title }}</h3>
		{% for acc in props.accordions %}
			<div class="accordion {% if acc.smMargin %} accordion_mob-margin{% endif %}" data-accordion-item data-accordion-on-init="5000"{% if loop.first %} data-accordion-open{% endif %}>
				<a href="#" class="accordion__trigger" data-accordion-trigger>
					<span class="list-head">
						<span class="list-head__plus"></span>
						<span class="list-head__title">
							{{ acc.title }}
						</span>
						<span class="list-head__counter">
							({{ acc.counter }})
						</span>
					</span>
				</a>
				<div class="accordion__content js-scroll-bar" data-accordion-container>
					{% if loop.first %}
						{{ table(
							[
								{
									counter: '1',
									soporte: 'Street Furniture',
									direccion: '781 Leatha Camp',
									comienza: '05/10/2018',
									finaliza: '08/31/2018',
									ots: '5500',
									sliderWrap: acc.sliderWrap
								},
								{
									counter: '2',
									soporte: 'Street Furniture',
									direccion: '1652 Alexa Row',
									comienza: '11/07/2018',
									finaliza: '12/05/2018',
									ots: '4500',
									sliderWrap: acc.sliderWrap
								},
								{
									counter: '3',
									soporte: 'Street Furniture',
									direccion: '655 Bins Forge',
									comienza: '12/31/2018',
									finaliza: '07/03/2018',
									ots: '5500',
									sliderWrap: acc.sliderWrap
								},
								{
									counter: '4',
									soporte: '274 Donna Mall',
									direccion: '1652 Alexa Row',
									comienza: '05/13/2018',
									finaliza: '09/28/2018',
									ots: '4000',
									sliderWrap: acc.sliderWrap
								}
							]
						) }}
					{% else %}
					{{ table(
						[
							 {
								counter: '1',
								soporte: 'Street Furniture',
								direccion: '781 Leatha Camp',
								comienza: '05/10/2018',
								finaliza: '08/31/2018',
								ots: '5500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '2',
								soporte: 'Street Furniture',
								direccion: '1652 Alexa Row',
								comienza: '11/07/2018',
								finaliza: '12/05/2018',
								ots: '4500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '3',
								soporte: 'Street Furniture',
								direccion: '655 Bins Forge',
								comienza: '12/31/2018',
								finaliza: '07/03/2018',
								ots: '5500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '4',
								soporte: '274 Donna Mall',
								direccion: '1652 Alexa Row',
								comienza: '05/13/2018',
								finaliza: '09/28/2018',
								ots: '4000',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '1',
								soporte: 'Street Furniture',
								direccion: '781 Leatha Camp',
								comienza: '05/10/2018',
								finaliza: '08/31/2018',
								ots: '5500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '2',
								soporte: 'Street Furniture',
								direccion: '1652 Alexa Row',
								comienza: '11/07/2018',
								finaliza: '12/05/2018',
								ots: '4500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '3',
								soporte: 'Street Furniture',
								direccion: '655 Bins Forge',
								comienza: '12/31/2018',
								finaliza: '07/03/2018',
								ots: '5500',
								sliderWrap: acc.sliderWrap
							},
							{
								counter: '4',
								soporte: '274 Donna Mall',
								direccion: '1652 Alexa Row',
								comienza: '05/13/2018',
								finaliza: '09/28/2018',
								ots: '4000',
								sliderWrap: acc.sliderWrap
							}
						]
					) }}
				{% endif %}
				</div>
			</div>
		{% endfor %}
	</section>
{% endmacro %}

{% macro mainBanner(img) %}
	<a href="#" class="main-banner">
		<img src="./img/{{ img }}" alt="banner" class="main-banner__img">
	</a>
{% endmacro %}

{% macro downloadBtn(disabled) %}
	<a href="#" class="download-btn{% if disabled %} is-disabled{% endif %}" download>
		{{ icon('download') }}
	</a>
{% endmacro %}


