<div class="modal" data-modal="selectsModal">
  <div class="modal__container" data-modal-container>
    <div class="modal__inner">
      <button class="modal__close" data-modal-close>
        {{ mixins.icon("close") }}
      </button>
      <form class="modal-form">
        {% for item in [
          {
            label: 'Cuenta',
            options: [ 'McDonalds', 'MacFoxy', 'Puzata Khata' ]
          },
          {
            label: 'País',
            options: [ 'Argentina', 'Brazil', 'Urugway' ]
          },
          {
            label: 'Campaña',
            options: [ 'Mc Precios 2017', 'Mc Precios 2018', 'Mc Precios 2019', 'Mc Precios 2017', 'Mc Precios 2018', 'Mc Precios 2019', 'Mc Precios 2017', 'Mc Precios 2018', 'Mc Precios 2019' ]
          }
        ] %}
          <div class="input-group">
            <label class="label">{{ item.label }}</label>
            {{ mixins.select({
              values: item.options,
              selectWidth: '100%',
              modifier: 'blue'
            }) }}
          </div>
        {% endfor %}
        <div class="input-group">
          <label class="label"></label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-slider js-modal-slider-parent" data-modal="map-slider">
  <div class="modal-slider__container" data-modal-container>
    <div class="modal-slider__inner">
      <button class="modal-slider__next js-modal-slider-next">
        {{ mixins.icon('arrow-next') }}
      </button>
      <button class="modal-slider__prev js-modal-slider-prev">
        {{ mixins.icon('arrow-prev') }}
      </button>
      <button class="modal-slider__close" data-modal-close>
          {{ mixins.icon("close-thin") }}
      </button>
      <div class="modal-slider__slider js-modal-slider"></div>
    </div>
  </div>
</div>

<div class="modal-slider js-modal-slider-parent" data-modal="img-slider">
  <div class="modal-slider__container modal-slider__container_small" data-modal-container>
    <div class="modal-slider__inner">
      <button class="modal-slider__next js-modal-slider-next">
        {{ mixins.icon('arrow-next') }}
      </button>
      <button class="modal-slider__prev js-modal-slider-prev">
        {{ mixins.icon('arrow-prev') }}
      </button>
      <button class="modal-slider__close" data-modal-close>
          {{ mixins.icon("close-thin") }}
      </button>
      <div class="modal-slider__slider js-modal-slider"></div>
    </div>
  </div>
</div>
