<div class="main-map">
  <div
    class="main-map__inner js-map"
    data-center-lat="50.451767"
    data-center-lng="30.521038"
    data-json="./json/geofencing-map.json"
  ></div>
  <div class="main-map__selection">
    <div class="map-select">
      <div class="map-select__inner js-mob-map-select-wrapper">
        <div class="map-select__search">
          <form class="search search_select">
            <div class="search__input">
              <input type="text" placeholder="Buscar locaciones" />
            </div>
            <button class="search__button" type="button">
              {{ mixins.icon("search") }}
            </button>
          </form>
        </div>
        <div class="map-select__list js-map-select-wrapper js-map-select-scrollbar"></div>
      </div>
      <div class="map-select__mob-toggler">
        <a href="#" class="fab js-mob-map-select-toggler">
          <span class="fab-burger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="fab-cross">
            {{ mixins.icon('close') }}
          </span>
          </a>
      </div>
    </div>
  </div>
</div>
