.geofencing
  padding: 70px 0
  +sm 
    margin: 0 -20px

.dashboard-head
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  padding-bottom: 21px
  +sm 
    cursor: pointer
  &__mob-hidden,
  &__mob-visible
    +sm 
      +fls(100%)
  &__mob-visible
    +sm 
      display: flex
      align-items: center
      justify-content: space-between
  .mob-accordion-btn
    display: none
    +sm
      display: block
      float: right

.reports-map-section
  padding-bottom: 58px

.chart-section
  position: relative
  // &__select
  //   position: absolute
  //   right: 0
  //   top: 0
  //   +sm 
  //     position: relative