.main-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    margin: 57px 0 30px
    &__icon
        font-size: 17px
        color: rgba($black, .2)
        .icon
            display: block
    &__text
        max-width: 290px
        margin-top: 11px
        font-size: 20px
        color: rgba($gray, .3)