.main-map
	margin-top: 20px
	height: 700px
	// height: 200px
	position: relative
	overflow: hidden
	&__inner
		width: 100%
		height: 100%
	&__selection
		position: absolute
		top: 20px
		right: 20px
		z-index: 10
		+sm 
			bottom: 20px
			top: auto

.map-controls
	padding: 20px 15px
	background-color: $white
	border-radius: $radius
	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2)
	min-width: 185px
	+sm 
		padding: 0
		min-width: 0
		box-shadow: none
	& > *:not(:last-child)
		margin-bottom: 15px

.map-select
	min-width: 230px
	overflow: hidden
	&__search
		padding: 0 12px
	&__list
		padding: 0 12px
		list-style: none
		margin-top: 20px
		// max-height: 596px
		max-height: 400px
		position: relative
	&__item
		position: relative
		+f(11px, 500, 1.2)
		&:not(:last-child)
			margin-bottom: 12px
		&:before
			display: inline-block
			vertical-align: middle
			margin-bottom: 2px
			+circle(4)
			background-color: $blue
			content: ''
	&__link
		display: inline-block
		vertical-align: middle
		margin-left: 5px
		color: $gray
		&.is-active
			color: $blue
		+hover
			color: $blue
	&__mob-toggler
		display: none
		+sm 
			display: block
			position: absolute
			bottom: 0
			right: 0
	&__inner
		position: relative
		padding: 20px 0
		border-radius: $radius
		background-color: $white
		z-index: 10
		+sm 
			+fadeout($tr)
			&.is-open
				+fadein
		.ps__thumb-y
			background-color: $blue
			right: 0
			transition: opacity $tr
			// max-height: 60px !important
			&:before
				content: ''
				position: absolute
				top: 0
				left: -4px
				right: -4px
				height: 100%
				background-color: transparent
		.ps-container > .ps-scrollbar-y-rail
			opacity: 1
		.ps__rail-y
			opacity: 1
			display: block !important
		.ps__rail-y.ps--clicking .ps__thumb-y,
		.ps__rail-y:focus>.ps__thumb-y,
		.ps__rail-y:hover>.ps__thumb-y
			width: 6px
			background-color: $blue
		.ps--focus>.ps__rail-x,
		.ps--focus>.ps__rail-y,
		.ps--scrolling-x>.ps__rail-x,
		.ps--scrolling-y>.ps__rail-y,
		.ps:hover>.ps__rail-x,
		.ps:hover>.ps__rail-y
			opacity: 1
			background-color: #d8d8d8
	.ps
		.ps__rail-x
			display: none
		&.ps--active-y
			.ps__rail-y
				left: auto !important
				right: 12px !important
				width: 6px
				border-radius: 3px
				z-index: 100

.toggler
	position: relative
	cursor: pointer
	display: flex
	align-items: center
	font-size: 0
	line-height: 1.2
	user-select: none
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		height: 0
		&:checked ~ 
			.toggler__toggle
				border: 1px solid $blue
				&:after
					background-color: $blue
					transform: translateX(14px)
					+sm
						transform: translateX(24px)
			.toggler__text
				opacity: 1
			.toggler__icon
				opacity: 1
	&__text
		opacity: 0.4
		color: #535153
		font-family: $avenir
		font-size: 11px
		font-weight: 500
		padding-right: 10px
		+sm 
			font-size: 16px
	&__toggle
		position: relative
		width: 28px
		height: 14px
		margin-left: auto
		background-color: $white
		border: 1px solid #a7a7a7
		outline: none
		border-radius: 10px
		transition: background-color .3s
		flex-shrink: 0
		+sm
			width: 50px
			height: 24px
			border-radius: 24px
		&:after
			position: absolute
			content: ''
			+circle(10)
			top: 1px
			left: 1px
			background-color: #a7a7a7
			transition: transform .3s
			+sm 
				+circle(20)
				left: 2px
	&__icon
		margin-right: 8px
		opacity: 0.4
		&_green
			color: #00e896
		&_orange
			color: #ff9856
		&_purple
			color: #9013fe
		&_yellow
			color: #edc92d
		&_grey
			color: #174d6c
		.icon
			font-size: 8px
			+sm 
				font-size: 22px
