.tabs
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		padding: 9px 11px 9px 17px
		margin-bottom: 12px
		background-color: rgba($blue, 0.04)
		+sm 
			padding: 0
			background-color: transparent
	&__mobile-header
		+sm
			+fls(100%)
			display: flex
			justify-content: space-between
			align-items: center
			position: relative
			padding: 12px 27px 12px 34px
			z-index: 20
			cursor: pointer
			&:after
				content: ''
				position: absolute
				top: 0
				height: 100%
				left: -100%
				right: -100%
				background-color: rgba($blue, 0.04)
				z-index: -1
			&:before
				content: ''
				position: absolute
				top: 100%
				right: 0
				height: 48px
				background-image: linear-gradient(to right, rgba(255, 255, 255, 0.24) 0%, #ffffff 100%)
				width: 30px
	&__title
		color: $blue
		font-size: 0
		&-icon
			margin-top: -2px
			margin-right: 11px
			.icon
				font-size: 23px
		& > *
			display: inline-block
			vertical-align: middle
	&__controls
		position: relative
		+sm 
			padding: 15px 0 11px 33px
			overflow: auto
	&__content
		position: relative
		line-height: 2
	&__item
		padding: 10px 0
	&__mob-buttons
		display: none
		+sm 
			display: block


.tabs-list
	display: flex
	align-items: center
	justify-content: center
	+sm
		justify-content: flex-start
	&__item
		position: relative
		padding: 0 18px 0 19px
		line-height: 1.3077
		+sm
			flex-shrink: 0
			+sm 
				padding: 0 30px 0 0
				border-bottom: 1px solid transparent
		&:not(:last-child)
			border-right: 1px solid rgba(151, 151, 151, 0.51)
			+sm 
				border-right: none
	&__btn
		display: inline-block
		// padding-bottom: 1px
		background-color: transparent
		color: $gray
		font-family: $avenir
		+f(13px, 500, 1.3077)
		transition: color $tr
		+sm 
			border-bottom: 1px solid transparent
		&.is-active
			color: $blue
			font-weight: 600
			+sm 
				border-bottom-color: $blue

[data-tabs]
	overflow: hidden
	[data-tabs-control]
		cursor: pointer
		user-select: none
		&[disabled],
		&.is-disabled
			cursor: not-allowed
			+nosel
	[data-tabs-wrapper]
		position: relative
	[data-tabs-container]
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		visibility: hidden
		transition: opacity 0.3s, visibility 0.3s
		&.is-open
			position: relative
			opacity: 1
			visibility: visible