.icon-add {
  width: 0.92em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-next {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-prev {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.67em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-up {
  width: 1.92em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
}
.icon-close-thin {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-download-sm {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-download {
  width: 1.21em;
  height: 1em;
  fill: currentColor;
}
.icon-eye {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
.icon-fab-filter {
  width: 1.48em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-geofencing {
  width: 0.64em;
  height: 1em;
  fill: currentColor;
}
.icon-marker {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
